<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
    <a class="navbar-brand" href="/">NetScrape</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-flex flex-row-reverse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/saved">Saved Articles</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/scrape">
                    <button class="btn btn-sm btn-outline-success" type="button">Get New Articles</button>
                </a>
            </li>
        </ul>
    </div>
</nav>

<div class="jumbotron" style="background: center / cover no-repeat url('/img/fake-news.jpg'); margin-top: 63px; height: 400px">

</div>

<!-- Modal -->
<div class="modal fade" id="note" tabindex="-1" role="dialog" aria-labelledby="noteCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class = "form-group" id = "note-title">

                </div>
                <div class = "form-group" id = "note-body">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>

{{!-- Content --}}
<div class="container-fluid">
    {{#each articles}}
    {{#if this.saved}}
    <div class="card card mb-3">
        <div class="card-header">
            <h4>
                <a class="article-link" href="{{this.link}}">{{this.title}}</a>
                <button class="btn btn-danger float-right mx-1" id = "delete-article" data-id="{{this._id}}">Delete</button>
            
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-info float-right mx-1 note-btn" data-toggle="modal" data-target="#note" data-id="{{this._id}}">
                Add a Note
            </button>
            
        </div>
        <div class="card-body">
            <p class="card-text">{{this.body}}</p>
        </div>
    </div>
    {{/if}}
    {{/each}}
</div>